/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
Compustat-extract_sorted.csv
CRSP-extract_sorted.csv
debug.csv
.DS_Store
order_legacy.clj